{% extends "layout.html" %}	
{% block content %}
<div class="card-deck">
<div class="card" style="width: 18rem;"><h1></h1>
  <div class="card-body">
    <h2 class="card-title">Sobre a AGCO²</h2>
    <p class="card-text">Somos uma ONG que busca entrar em contato com cooperativas na região norte do país e oferecer
    o uso da plataforma de rede social da AGCO², um espaço aonde os produtores podem se manter informados, capacitados e conectados
    sobre o plano ABC+, podendo medir seu desempenho nas metas ABC+.</p>
    <a href="https://www.gov.br/agricultura/pt-br/assuntos/sustentabilidade/agricultura-de-baixa-emissao-de-carbono/publicacoes/abc-portugues.pdf" class="btn btn-primary">Saber mais sobre o ABC+</a>
  </div>
</div>

<div class="card" style="width: 18rem;"><h1></h1>
  <div class="card-body">
    <h2 class="card-title">Investimentos</h2>
    <p class="card-text">Se você é uma empresa que deseja
    fazer investimentos neste mercado renovável, entre em
    contato conosco.</p>
    <a href="#" class="btn btn-primary">Investir no AGCO²</a>
  </div>
</div>
</div>
{% endblock content %}
